html
  include partials/head.pug

  body
    div.container
      div.row
        div.col-md-2.text-md-right
          include partials/title.pug
          include partials/nav.pug

        div.col-md-10
          include partials/albums.pug
