h5 {
  margin-top: .5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: rgba(234, 16, 144, 1);
}

.title {
  border-bottom: 1px solid rgba(234, 16, 144, 1);
}

h3 small {
  color: rgba(0,0,0,0.5);
}

a:focus, a:hover {
  color: #9D005C;
}